@model PageViewModel<Product>

@foreach (var p in Model.PageData)
{
    @Html.Partial("ProductSummary", p)
}

@if (Model.PagingInfo.CurrentPage > 1)
{
    <a asp-action="List"
       asp-route-productPage="@(Model.PagingInfo.CurrentPage - 1)"
       asp-route-category="@Model.PageData.First().ProductCategory"
       class="btn btn-primary btn">
        Back
    </a>
}
@if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPages)
{
    <a asp-action="List"
       asp-route-productPage="@(Model.PagingInfo.CurrentPage + 1)"
       asp-route-category="@Model.PageData.First().ProductCategory"
       class="btn btn-primary btn">
        Next
    </a>
}
